body {
    margin: 0;
    padding: 0;

    min-height: 160vh;

    overflow: hidden;

    user-select: none;
}

.container {
    background: #1f0e0e;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
}

/* Cover */
/* .container > .cover {
    position: absolute;

    background-color: rgb(0, 0, 0);
    opacity: 20%;

    width: 100%;
    height: 100%;
    
    z-index: 1;
} */

.hex-grid .grid {
    opacity: 95%;
    position: absolute;
    top: 0;
    left: 0;

    background: url(grid.svg) repeat;
    width: 100%;
    height: 100%;

    z-index: 0;
    background-size: 300px;
}

.hex-grid .light {
    position: absolute;

    border-radius: 100%;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 10em;
    height: 10em;

    filter: blur(15px);
    background: linear-gradient(
        90deg, aqua 0%, red 100%
    );

    z-index: 0;
}